  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1856ff;
  }
  
  .logo {
    height:28px;
    margin: 16px;
    background: rgba(249, 252, 249, 0.3);
 
  }
  
  .site-layout .site-layout-background {
    background: rgb(250, 248, 248);
  }

  
.react-grid-item.react-grid-placeholder {
  background-color: black;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 8px solid rgba(211, 27, 27, 0.4);
  border-bottom: 8px solid rgba(216, 26, 26, 0.4);  
}